@import "tailwindcss";


:root {
  --background: linear-gradient(#AFEBCA, #4e8658);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(#737373, #141414);
    --foreground: #ededed;
  }
}

  
body {
  margin:0;
  background: var(--background);
  height: 100vh;
  transition: background 0.3s ease, color 1s ease;
  overflow: hidden;
}
