@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(#AFEBCA, #4e8658);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
